persistence/
genny.env
genny.env.json
target/
env-conf
.env
google_credentials/StoredCredential
google_credentials/token-secret-service-account.json
google_credentials/drive/StoredCredential
realm/*.json
.project
+realm/alyson.genny.life.json
+realm/alyson2.genny.life.json
+realm/alyson3.genny.life.json
+realm/genny.json
+realm/curl.json
+realm/localhost
+realm/localhost.json
nginx/conf.d/default.conf
nginx/conf.d2/default.conf
rules/
+rules/.dummy
eclipse/
data/
minio/
tmp/
**/*.zip
**/*.svg
**/*.sql
.idea/
