<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/rulesservice"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="API_PORT" value="8089"/>
<mapEntry key="DDTHOST" value="TRUE"/>
<mapEntry key="DEVUSER" value="acrow"/>
<mapEntry key="DEV_MODE" value="TRUE"/>
<mapEntry key="ENV_SECURITY_KEY" value="WubbaLubbaDubDub"/>
<mapEntry key="ENV_SERVICE_PASSWORD" value="vRO+tCumKcZ9XbPWDcAXpU7tcSltpNpktHcgzRkxj8o="/>
<mapEntry key="GENNYDEV" value="TRUE"/>
<mapEntry key="HOSTIP" value="keycloak.genny.life"/>
<mapEntry key="JENKINS_CODE" value="cutegirl121"/>
<mapEntry key="LAYOUT_CACHE_HOST" value="http://layout-cache.genny.life"/>
<mapEntry key="LOAD_METHOD" value="ENV"/>
<mapEntry key="NEW_RULES" value="TRUE"/>
<mapEntry key="PAYMENTS_EMAIL" value="rpgayatri@gmail.com"/>
<mapEntry key="PAYMENTS_PASSWORD" value="YzQ2MzY4NTQ3ZThiNDc5ZTg4MTg3OTQ0NWFmYTUxOTI="/>
<mapEntry key="PAYMENT_MARKETPLACE_NAME" value="test"/>
<mapEntry key="PAYMENT_PROVIDER" value="assembly"/>
<mapEntry key="PAYMENT_SECRET" value="UdZ5fx63LyJUBpfKw0EEkHXF7FD60FxO"/>
<mapEntry key="PAYMENT_SERVICE_API_URL" value="http://payments2.genny.life"/>
<mapEntry key="PAYMENT_TOKEN" value="YzQ2MzY4NTQ3ZThiNDc5ZTg4MTg3OTQ0NWFmYTUxOTI="/>
<mapEntry key="PROJECT_REALM" value="channel40"/>
<mapEntry key="REACT_APP_QWANDA_API_URL" value="http://qwanda-service.genny.life:8280"/>
<mapEntry key="REACT_APP_VERTX_URL" value="http://bridge.genny.life/frontend"/>
<mapEntry key="RULESMANAGER" value="TRUE"/>
<mapEntry key="RULES_DIR" value="./src/main/resources/rules/rulesCurrent;/Users/acrow/projects/genny/prj_channel40"/>
<mapEntry key="USER" value="acrow"/>
</mapAttribute>
<stringAttribute key="org.eclipse.debug.core.source_locator_id" value="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"/>
<stringAttribute key="org.eclipse.debug.core.source_locator_memento" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;sourceLookupDirector&gt;&#10;&lt;sourceContainers duplicates=&quot;false&quot;&gt;&#10;&lt;container memento=&quot;&amp;lt;?xml version=&amp;quot;1.0&amp;quot; encoding=&amp;quot;UTF-8&amp;quot; standalone=&amp;quot;no&amp;quot;?&amp;gt;&amp;#10;&amp;lt;folder nest=&amp;quot;true&amp;quot; path=&amp;quot;/rulesservice/src&amp;quot;/&amp;gt;&amp;#10;&quot; typeId=&quot;org.eclipse.debug.core.containerType.folder&quot;/&gt;&#10;&lt;container memento=&quot;&amp;lt;?xml version=&amp;quot;1.0&amp;quot; encoding=&amp;quot;UTF-8&amp;quot; standalone=&amp;quot;no&amp;quot;?&amp;gt;&amp;#10;&amp;lt;default/&amp;gt;&amp;#10;&quot; typeId=&quot;org.eclipse.debug.core.containerType.default&quot;/&gt;&#10;&lt;/sourceContainers&gt;&#10;&lt;/sourceLookupDirector&gt;&#10;"/>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<listAttribute key="org.eclipse.jdt.launching.CLASSPATH">
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry containerPath=&quot;org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8&quot; path=&quot;1&quot; type=&quot;4&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry path=&quot;3&quot; projectName=&quot;servicesrules&quot; type=&quot;1&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry containerPath=&quot;org.eclipse.m2e.MAVEN2_CLASSPATH_CONTAINER&quot; path=&quot;3&quot; type=&quot;4&quot;/&gt;&#10;"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<booleanAttribute key="org.eclipse.jdt.launching.DEFAULT_CLASSPATH" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="io.vertx.core.Launcher"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="run life.genny.verticle.ServiceVerticle —redeploy=**/*.java —launcher-class=io.vertx.core.Launcher -cluster -cluster-host=10.123.123.123"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="rulesservice"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="${jrebel_args:org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.launching.macosx.MacOSXType/Java SE 8 [1.8.0_152]} -Dvertx.options.blockedThreadCheckInterval=2147483647 -Dvertx.options.maxEventLoopExecuteTime=10000000000000"/>
</launchConfiguration>
